{
  "singleQuote": true,
  "jsxBracketSameLine": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 120,
  "semi": true,
  "overrides": [
    {
      "files": ".ts?x",
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": ".js?x",
      "options": {
        "parser": "babel"
      }
    },
    {
      "files": ".css",
      "options": {
        "parser": "css"
      }
    }
  ]
}
